/*==================
	GOOGLE FONTS
==================*/

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');

/*==================
	CSS RESET & STANDARD 
==================*/

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
      
}

body {
	font-size: 12px;
  font-family: 'Albert Sans', sans-serif !important;
}

.fixed-width {
	width:  480px;
}

.flex-container {
	display: flex;
}

/*==================
	HEADER
==================*/
header {
  margin: 0 auto;
}

.header-image-container {
  position: relative;
}

.header-image-container > img {
  width: 100%;
}

.header-image-container > h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px;
}

.header-about-container {
  width: 95%;
  margin: 0 auto;
}

.header-about-container > p {
  margin-top: 16px;
}

.header-about-container > p > i {
  margin-right: 16px;
}

/*==================
	MAIN > SKILLS
==================*/

.skills-container {
  margin: 0 auto;
}

.skill-bar-container {
  background-color: grey;
  width: 100%;
}

.skill-bar {
  text-align: center;
}